<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:description="@string/module_description"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CloneVpnFixTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogSettingsActivity"
            android:exported="false" />
        <provider
            android:name=".CloneVpnLogProvider"
            android:authorities="dev.gzq.coloroscloneproxy.logs"
            android:exported="true" />
    </application>
</manifest>
